*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.orange-nav{
    background-color: orangered;
}

.nav-bar > *{
    width: calc(100% / 3);

}
select{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.container{
    max-width: 1000px;
    margin: 0 auto;

}
.nav-bar{
    display: flex;
    width: 100%;

}
li {
    display: inline-block;
    margin-top: 15px;
    
    
}
a{
    text-decoration: none;
    color: white;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container > img{
    height: 30px;  
}
.icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

i {
color: white;

}
.riga-1{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
}
.card{
    width: calc(100% / 3 );
    margin-top: 50px;
    
}

.img-box > img {
    width: 100%;
}
.card  .hidden{
    display: none;

}
.main-section{
    position: relative;
}
.hearts{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 10px;
    
}
.info{
    position: absolute;
    bottom: 50px;
    left: 0;
}
.info > span{
    padding: 5px;
    margin-right: 3px;
    color: white;

}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.brand{
    font-size: 0.8em;
}
.nome-articolo{
    font-weight: bold;
    font-size: 1.1em;
}
.prezzo > .discount{
    color: red;
}
.prezzo > .original{
    text-decoration: line-through;
    font-size: 0.8em;
    
}
.riga-1 >.card:nth-child(2),.riga-1 .card:nth-child(5){
    margin-right:  15px;
    margin-left:  15px;
}
